<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div style="display: flex;">
    <div style="width: 15%;">
        <h1 style="margin-top: 10px;"><a href="/demo">HOME</a></h1>
    </div>
    <div style="width: 85%;" class="search">
        <form action="{% url 'demo:search' '' 1%}" method="get">
            {% csrf_token %}
            <input type="text" value="{{value}}" name="textsearch" required>
            <button type="submit">Tìm kiếm</button>
        </form>
        <div style="margin-left: 16%;">Tìm được <b>{{count}}</b> kết quả sau khoảng <b>{{time}}s</b></div>
    </div>
</div>

<div style="margin: 10px; font-size: 16px; margin-left: 30px;">
    <div style="margin-left: 13%;margin-right: 10%;">
        {% for item in res %}
            <div style="border-bottom: 1px dashed bisque;">
                <a style="font-size: 18px;" href="{{item.source.url}}">
                    {{item.source.title}}
                </a>
                <br>
                <i style="font-size: 12px;">{{item.source.upload_time}}</i>
                <p>
                    {{item.source.description}}
                </p>
                <br>
            </div>
        {% endfor %}
    </div>
    
    <div style="text-align: center;" class="pagination">
        {%if page_obj.isPrev%}
            <a href="/demo/{{text}}/{{ page_obj.prev }}">&laquo;</a>
        {%endif%}
        {% for item in xxx %}
            {%if item == page_obj.current%}
                <a class="active">{{item}}</a>
            {%endif%}
            {%if item != page_obj.current%}
                <a href="/demo/{{text}}/{{ item }}">{{item}}</a>
            {%endif%}
            
        {% endfor %}
        {%if page_obj.isNext%}
            <a href="/demo/{{text}}/{{ page_obj.next }}">&raquo;</a>
        {%endif%}
        
    </div>
</div>

<style>
    .search input{
        font-size: 16px;
        width: 400px;
        height: 46px;
        border: 1px solid rgb(223, 225, 229);
        line-height: 21px;
        padding-left: 25px;
    }
    .search button{
        height: 51px;
        border: 1px solid rgb(223, 225, 229);
        background: #3578E5;
        cursor: pointer;
        color: white;
        transition: all 0.5s;
    }
    .search button:hover{
        background: black;

    }
    .pagination {
        display: inline-block;
        width: 100%;
    }

    .pagination a {
        color: black;
        /* float: left; */
        padding: 8px 16px;
        text-decoration: none;
    }

    .pagination a.active {
        background-color: #4CAF50;
        color: white;
    }

    .pagination a:hover:not(.active) {background-color: #ddd;}
</style>